@import "./src/variables";

.wrapper {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding-top: 50px;
  height: 100%;
}

.header {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;

  h1 {
    font-size: 18px;
    padding-bottom: 10px;
  }

  span {
    color: $secondaryColor;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 30px 0;


  input {
    transition: 500ms;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 12px 15px;
    width: 90%;
    color: black;

    &:focus {
      border-color: black;
      transition: border-color 500ms;
    }
  }
}

.row {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;

  button {
    border: 1px solid $secondaryColor;
    padding: 10px 30px;
    border-radius: 5px;
    transform: skew(-11deg);
    box-shadow: 5px 5px 3px #0003;

    span {
      display: block;
      transform: skew(11deg);
      text-transform: uppercase;
      color: $secondaryColor;
    }

    &:hover {
      background-color: $secondaryColor;

      span {
        color: white;
      }
    }
  }

  span {
    color: black;
    cursor: pointer;

    &:hover {
      color: $secondaryColor;
    }
  }
}

.additional {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 70px;
  span {
    color: #9d9d9d;
    cursor: pointer;

    &:hover {
      color: $secondaryColor;
    }
  }
  span.active{
    color: black;
    cursor: auto;
    &:hover{
      color: black;
    }
  }
  button{
    display: none;
    font-size: 17px;
    padding:10px 20px;
    border-radius: 5px;
    transition: border-color 500ms;
    border: 1px solid #c2c2c2;
    transform: skew(-11deg);
    svg{
      transform: skew(11deg);
    }
    &:hover{
      transition: border-color 500ms;
      border-color:black ;
    }
  }
}
.social{
  padding-top: 10px;
  button{
    display: block;
  }
}
.subtitle{
  text-align: center;
  color: #d0d0d0;
  font-size: 12px;
}