@import "./src/variables";

.layout {
  background-color: white;
  min-height: 92vh;
}

.items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

@media (max-width: 850px) {
  .items{
    display: block;
  }
}
