.additionalInfo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top: 2px solid #c4c4c4;
  margin: 0 30px;
  span {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    overflow: hidden;
    padding-bottom: 10px;
  }
}

.heading {
  padding-top: 24px;
  font-size: 23px;
  font-weight: 400;
  padding-bottom: 20px;
}