@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "../../../variables";

.wrapper {
  padding: 50px 0;

  .header {
    h1 {
      margin-bottom: 16px;
    }

    div:not(:last-child) {
      margin-right: 20px;
    }

    .info {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      div {
        font-family: Roboto, sans-serif;
        font-size: 13px;
        font-style: italic;
        color: $infoBarColor;
        display: flex;
        align-items: center;
      }

      .views {
        span {
          padding-right: 5px;
        }

        svg {
          font-size: 22px;
        }
      }

      .comments {
        span {
          padding-right: 5px;
        }

        svg {
          font-size: 16px;
        }
      }

      .favorite {
        svg {
          font-size: 18px;
        }
      }
    }
  }

  .content {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 400;

    a {
      text-decoration: none;
      color: $secondaryColor;

      &:hover {
        border-bottom: 1px solid $secondaryColor;
      }
    }

    p {
      padding: 12px 0;
    }

    blockquote {
      padding: 7px 30px;
      border-left: 2px solid $secondaryColor;
      margin: 10px 0 15px 0;
    }

    u {
      text-decoration: none;
    }

    ul, ol {
      display: block;

      li {
        color: black;
        display: list-item;
        text-transform: none;
        word-break: break-word;

        &::before {
          padding-right: 7px;
          display: inline-block;
          content: "•";
          color: $secondaryColor;
          font-size: 25px;
          transform: translateY(3px);
        }
      }

      p {
        padding: 0;
      }
    }

    ol {
      padding-left: 20px;

      li {
        padding: 5px 0;

        &::before {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 590px) {
  .wrapper {
    .header {
      .info {
        flex-wrap: wrap;
        padding-bottom: 10px;
        > * {
          padding-top: 10px;
        }
      }
    }

    section {
      padding: 0 15px;
    }
  }
}

