@import "./src/variables";


.item {
  margin: 0 100px 0 30px;
  padding: 25px 0;
  border-top: 1px solid #c4c4c4;;
}

.title {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 500;

  &:hover {
    color: $secondaryColor;
    border-bottom: 1px solid $secondaryColor;
  }
}

.info {
  display: flex;
  align-items: center;
  padding: 10px 0;

  span {
    align-items: center;
    color: #585858;
    font-size: 13px;
    font-style: italic;
    font-family: Roboto, sans-serif;
  }
}
.creationDate{
  padding-left: 15px;
}
.messagesCount {
  display: flex;
  align-items: center;
  padding-left: 15px;

  span {
    padding-left: 10px;
  }

  svg {
    font-size: 13px;
    color: #585858;

  }
}

.lastMessage {
  font-family: Roboto, sans-serif;
  font-size: 15px;

  b {
    padding-right: 5px;
  }
}


@media (max-width: 500px) {
  .item{
    margin: 0 10px;
  }
}