@import "src/variables";

.menu {
  nav, ul {
    display: block;
    margin: 0;
    position: absolute;
    right: 0;
    width: 100%;
    background-color: $mainBackgroundColor;
  }

  ul {
    overflow: hidden;
  }

  li {
    width: 100%;
    text-align: center;
    padding: 3% 0;

    div {
      display: inline-flex;
    }

    a {
      display: block;
    }
  }
}

.menu.active {
  .blur {
    position: fixed;
    top: 73px;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

