@import "src/variables";

.menu {
  nav, ul {
    display: block;
    margin: 0;
    position: absolute;
    right: 0;
    width: 100%;
    background-color: $mainBackgroundColor;
  }

  ul {
    height: 0;
    overflow: hidden;
    transition: 0.4s all;
  }

  li {
    width: 100%;
    text-align: center;
    padding: 3% 0;

    div {
      display: inline-flex;
    }

    a {
      display: block;
    }
  }
}

.menu.active {
  .blur {
    position: fixed;
    top: 73px;
    right: 0;
    left: 0;
    bottom: 0;
  }
  ul {
    height: 460px;
    transition: 0.4s all;
  }
}

@media (max-width:880px ) {
    .menu.active{
      .blur{
        ul{
          height: 405px;
        }
      }
    }
}
@media (max-width:650px ) {
  .menu.active{
    .blur{
      ul{
        height: 350px;
      }
    }
  }
}
@media (max-width:490px ) {
  .menu.active{
    .blur{
      ul{
        height: 280px;
      }
    }
  }
}

