.newsItemDetail {
  display: flex;
  min-height: 92.4vh;
}

.wrapper {
  flex-grow: 1;
}

.gameForNews {
  h2 {
    font-size: 30px;
    font-weight: 300;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 30px;
  }
}

div.gameCard {
  width: 100%;
  margin-left: 0 !important;
  padding: 20px 0;
  border-bottom: none;

  > a {
    padding: 9% 14%;
  }
}

@media (max-width: 800px) {
  .newsItemDetail {
    flex-direction: column;
  }
  div.gameCard {
    > a {
      padding: 10% 16%;

    }
  }
}

@media (max-width: 550px) {
  div.gameCard {
    > a {
      padding: 20% 10%;

    }
  }
}