@import "./src/variables";

.account {
  margin: 20px 0;
  cursor: pointer;
  position: relative;
}

.container {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
}

.img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.login {
  font-size: 14px;
  display: block;
  padding-left: 10px;
}

.login.active {
  color: black;

  &:hover {
    color: $secondaryColor;
  }
}