.container {
  display: flex;
  align-items: center;

}

.img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.login {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  display: block;
  padding-left: 10px;
}