.wrapper{
  display: flex;
  align-items: center;
  gap: 5px;
  svg{
    font-size: 12px;
  }
}
.inc, .dec {
  font-size: 14px;
  cursor: pointer;
  color: #9098A9;
}

.inc {
  &:hover {
    color: green;
  }
}

.dec {
  &:hover {
    color: red;
  }
}
.score{
  transform: skew(-20deg);
  padding: 3px 8px;
  border-radius: 5px;
  span{
    display: block;
    transform: skew(20deg);
    color: white;
    font-family: Rubik, sans-serif;
  }
}