@import "./src/variables";

.wrapper {
  height: 380px;
  width: 400px;
  max-width: 90%;
  background-color: white;
  border-radius: 12px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  font-family: Roboto, sans-serif;
  padding: 50px 20px 20px;

  h1 {
    font-size: 18px;
    text-align: center;
  }

  form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      transition: 500ms;
      border: 1px solid #c2c2c2;
      border-radius: 5px;
      font-size: 14px;
      margin-top: 15px;
      padding: 12px 15px;
      width: 92%;
      color: black;

      &:focus {
        border-color: black;
        transition: border-color 500ms;
      }
    }

    span:not(:last-child) {
      font-size: 14px;
      color: red;
      align-self: flex-start;
    }

    button {
      padding: 10px 30px;
      border-radius: 5px;
      border: 1px solid $secondaryColor;
      transform: skew(-11deg);
      width: 100%;
      margin-top: 20px;

      span {
        display: block;
        transform: skew(11deg);
        text-transform: uppercase;
        color: $secondaryColor;
      }

      &:hover {
        background-color: $secondaryColor;

        span {
          color: white;
        }
      }
    }
  }
}