@import "./src/variables";

.newsItem {
  margin-top: 16px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $infoBarColor;
  word-break: break-word;


  .articleImg {
    border-radius: 15px;
    margin-right: 15px;
    padding: 8% 15%;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .articleDescription {
    width: 70%;

    .description {
      a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-family: Rubik, sans-serif;
        font-weight: 500;
        line-height: 1.4;

        &:hover {
          color: $secondaryColor;
          border-bottom: 1px solid $secondaryColor;
        }
      }
    }

    .articleInfo {
      display: flex;
      align-items: center;
      font-size: 12px;
      margin-top: 8px;
      font-family: Roboto, sans-serif;
      font-style: italic;
      color: $infoBarColor;

      .commentsInfo {
        display: flex;
        margin-left: 10px;

        svg {
          margin-left: 3px;
        }
      }
    }
  }
}
.categories{
  padding-top: 15px;
  a{
    font-family: Roboto, sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    color: #666;
    border-bottom: 1px #666 dotted;
    margin-right: 5px;
    text-transform: uppercase;
    &:hover{
      color: $secondaryColor;
      border-bottom: 1px $secondaryColor dotted;
    }
  }
  span{
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: italic;
  }
}

@media (max-width: 590px) {
  .newsItem {
    .articleImg {
      padding: 55px 55px;
    }
  }
}