.blogs {
  background-color: white;
  display: flex;
  min-height: 92vh;
}

.content {
  flex: 1 1 75%;
}

.header {
  text-transform: uppercase;
  font-size: 25px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  margin: 32px 0;
}
.container{
  display: flex;
}

@media (max-width: 800px) {
  .blogs {
    flex-direction: column;
  }
}