@import "../../../variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.aside {
  background-color: #f6f6f6;
  position: relative;
  padding: 0 50px;

  .navigation {
    .heading {
      svg {
        display: none;
      }

      h3 {
        font-size: 32px;
        font-weight: 300;
        padding-bottom: 15px;
      }
    }

    ul {
      display: block;

      li {
        display: list-item;
        padding: 8px 0;
      }

      a {
        color: black;
        font-size: 15px;
        font-family: Roboto, sans-serif;
        font-weight: 500;

        &:hover {
          color: $secondaryColor;
        }
      }
    }

    span {
      color: black;
    }

    position: sticky;
    top: 99px;

    .active {
      border-bottom: 2px solid $secondaryColor;

      &:hover {
        color: black;
      }
    }
  }
}

@media (max-width: 800px) {
  .aside {
    .navigation {
      .heading {
        padding: 10px 0;
        h3{
          padding-bottom: 0;
        }
      }


      ul {
        li {
          padding: 0 20px 20px 0;
          display: inline-block;
        }

        overflow: hidden;
      }


      .heading {
        display: flex;
        align-items: center;

        svg {
          font-size: 25px;
          color: $secondaryColor;
          display: block;
          transform: rotate(0);
          transition: all ease 0.5s;
        }

        .isActive {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media (max-width: 590px) {
  .aside {
    .navigation {
      ul {
        li {
          display: block;
          padding-bottom: 15px;
        }
      }
    }
  }
}