@import "./src/variables";

.form {
  padding: 30px 10px;

  input {
    transition: 500ms;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-size: 14px;
    padding: 12px 15px;
    width: 100%;
    color: black;
    margin-top: 10px;

    &:focus {
      border-color: black;
      transition: border-color 500ms;
    }
  }

  button {
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid $secondaryColor;
    transform: skew(-11deg);
    width: 100%;
    margin-top: 20px;
    min-height: 39px;

    span {
      font-size: 14px;
      display: block;
      transform: skew(11deg);
      text-transform: uppercase;
      color: $secondaryColor;
    }

    &:hover {
      background-color: $secondaryColor;

      span {
        color: white;
      }
    }
  }
}


.title {
  display: block;
  text-align: center;
  align-self: center;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
}


span.error {
  font-size: 12px;
  font-family: Roboto, sans-serif;
  color: red;
}